/* ------------------------------------- */



/* -------------COLORS, FONTS------------ */



/* ------------------------------------- */
:root{
    --cyber-yellow: #ffcf00ff;
    --prussian-blue: #1c3041ff;
    --baby-powder: #fffffcff;
    --barn-red: #6f1a07ff;

    --rich-black-fogra-39: #070d08ff; /* dark text */
}


html{
    min-height: 100vh;
}


/* ------------------------------------- */



/* ---------------GLOBAL----------------- */



/* ------------------------------------- */
strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

a:hover{
    cursor: pointer;
}






#introbody{
    width: 100%;
    min-height: 100vh;
}

#skiptomain{
    display: none;
}

/* ------------------------------------- */



/* ---------------HEADER---------------- */



/* ------------------------------------- */
header{
    min-height: 5%;
    border: 2px solid red;
    padding: 1%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


/* --------------NAVIGATION-------------- */
nav {
    flex-grow: 0.5;
    display: flex;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}



/* --------------SOCIALS----------------- */
/* .socials {
} */




/* ------------------------------------- */



/* ---------------MAIN------------------- */



/* ------------------------------------- */

.warehouse{
    border: 2px solid red;
    margin: 5%;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

.container{
    border: 2px solid red;
    min-height: 100px;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.introduction{
    min-height: 200px;
}

.introduction h1{
    font-size: 40px;
    text-align: center;
}

.introduction p{
    font-size: 20px;
    text-align: center;
}


/* ----------PROJECTS------------------- */
.projects h2{
    font-size: 30px;
    text-align: center;
}

/* -------------CAROUSEL---------------- */
.carousel {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    padding: 15px;
}

.projectBox {
    height: 200px;
    width: 200px;
    margin-right: 5px;
    scroll-snap-align: start;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid red;
    box-shadow: 0px 4px 4px 0px gray;
    text-align: center;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    all: unset;
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: gray;
    margin-top: 15px;
}

.dot:focus {
    transform: scale(1.5);
}



/* -------------TO PROJECTS-------------- */
.toprojects{
    min-height: 150px;
    width: 80%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;
}

.arrow{
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* -------------CONTACT----------------- */
.contact{
    min-height: 125px;
    align-items: center;
}

.contact p{
    font-size: 20px;
}








/* ------------------------------------- */



/* ---------------FOOTER---------------- */



/* ------------------------------------- */
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

footer ul li{
    text-align: center;
    min-height: 40px;
}


/* ------------------------------------- */



/* ----------MEDIA QUERIES-------------- */



/* ------------------------------------- */




/* ------------TABLET------------------- */
@media screen and (min-width: 600px){

}




/* --------------DESKTOP----------------- */
@media screen and (min-width: 1200px){




    /* -----CAROUSEL----- */
    .carousel{
        justify-content: center;
    }

    .dots{
        display: none;
    }
}